@import 'skill-icons';

$lightBackground: rgb(240,240,240);
$selectedBackground: rgb(240,240,240);
$selectedForeground: rgb(0,0,0);
$selectedBorderColor: rgb(220,220,220);

body {
  width: 100vw;
  height: 29.7cm;
}

a[href] {
  font-size: 10px;
}

.clear {
  clear:both;
}

.document {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 21.0cm;
  font-family:  "Arial", Times, serif;;
}

@mixin listDot {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

@mixin detaiFormat {
  font-weight: normal;
  font-size: 90%;
}

.resume-section {
  width: 100%;
  margin-top: 10px;

  header {
    font-size: 130%;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.exp-entry {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-weight: bold;

  .location {
    font-size: 18px;
    flex: 2 0;
    font-weight: bold;
  }

  .period {
    flex: 1 0;
    text-align: right;
    font-weight: normal;
    font-size: 15px;
  }

  ol {
    background-color: grey;
  }
}

.exp-entry.education-entry {
  margin-top: 0;
  margin-bottom: 0;
}

.detail {
  @include detaiFormat;
}


.skills {
  padding-left: 0;

  ul {
    overflow: auto;
  }

  li {
    padding: 5px;
    margin: 0 10px;
    float: left;
    line-height: 30px;
    cursor: pointer;
    list-style: disc;
  }

  span {
    vertical-align: middle;
  }

  li:hover {
    background-color: $selectedBackground;
    color: $selectedForeground;
    border: 1px $selectedBorderColor solid;
    padding: 4px;
  }

  li.skill-item-expanded {
    display: block;
    line-height: 35px;
  }

  .skill-item-thumbnail {
    vertical-align: middle;
    display: inline-block;
    border: none;
  }

  .skill-item-name {
    font-weight: bold;
  }
}

.work {
  padding-left: 0;

  ul {
    background-color: $lightBackground;
  }

  li {
    @include detaiFormat;
    padding: 5px;
  }
}

.projects {
  padding-left: 0;

  section {
    margin: 10px;
  }

  ul {
    background-color: $lightBackground;
  }

  li {
    padding: 5px;
  }
}

.projects > li {
  list-style: none;
  font-weight: bold;
}

.projects > li  li {
  @include detaiFormat;
  margin: 5px;
}

.photo-list {
  padding-left: 0;
}

.detailed-description {
  list-style: none;
}

.detailed-description::first-letter {
  font-size: 20px;
}

.photo-section {
  overflow: scroll;
  width: 100%;
}

.photo-item {
  display: inline-block;
  list-style: none;
  width: 300px;
}

.photo {
  width: 300px;
  height: 200px;
  background-size: 100% 100%;
}

li.selectable {
  padding: 3px;
  cursor: pointer;
}

li.selectable:hover {
  padding:2px;
  border: 1px $selectedBorderColor solid;
  background-color: $selectedBackground;
  color:$selectedForeground;
}

.popup-container {
  position: absolute;
  background-size: 100% 100%;
  transition: transform 0.5s ease-in-out;
}

.popup-container.closed {
  transition: none;
  display: none;
}

.popup-wrapper {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup-wrapper.readyOpen {
  display: block;
}

.popup-wrapper.open {
  display: block;
}

.popup-wrapper.readyClose {
  display: block;
}

.popup-background {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.popup-background.open {
  opacity: 0.9;
}

.wrapper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.popup-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.popup-screen.open{
  display: block;
  opacity: 1;
}

.detail-photo {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -300px 0 0 -450px;
  background-size: 100% 100%;
}

.detail-description {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 350px 0 0 -450px;
}

.detail-like-container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 320px -450px;
  width: 900px;
  text-align: right;
}

.detail-like {
  color: white;
}

.detail-like .counter {
  color: red;
}

.icon-cancel {
  width: 38px;
  height: 38px;
  position: absolute;
  left:50%;
  top:50%;
  margin: -319px 0 0 431px;
}

.icon-cancel:hover path {
  fill: white;
}

.path1 {
  fill: grey;
}

.path2 {
  fill: grey;
}

#icon-like {
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  margin-right: 10px;
  cursor: pointer;
}

#icon-like path {
  fill: white;
}

#icon-like.liked path {
  fill: red;
}